@font-face {
  font-family: 'gilroy';
  src: url('../fonts/gilroy/gilroylight.woff2'),
       url('../fonts/gilroy/gilroylight.woff');
  font-weight: 300;
}

@font-face {
  font-family: 'gilroy';
  src: url('../fonts/gilroy/gilroyextrabold.woff2'),
       url('../fonts/gilroy/gilroyextrabold.woff');
  font-weight: 800;
}

@font-face {
  font-family: 'open sans';
  src: url('../fonts/open_sans/opensanslight.woff2'),
       url('../fonts/open_sans/opensanslight.woff');
  font-weight: 300;
}

@font-face {
  font-family: 'open sans';
  src: url('../fonts/open_sans/opensans.woff2'),
       url('../fonts/open_sans/opensans.woff');
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  min-width: 1160px;

  font-family: "gilroy", Arial, Helvetica, sans-serif;
  font-weight: 800;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  padding-top: 8px;
  padding-bottom: 8px;
  box-sizing: border-box;

  font-size: 18px;
  line-height: 24px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #000000;
  letter-spacing: 0.2em;

  background-image: linear-gradient(to bottom, transparent 16px, #f4d361 16px,
                                              #f4d361 17px, #f0c52e 17px, 
                                              #f0c52e 23px, #f4d361 23px, 
                                              #f4d361 24px, transparent 24px, transparent 100%);
}

.button:hover,
.button:focus {
  background-color: #f0c52e;
  background-image: none;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.main-header {
  position: relative;

  margin-top: 40px;
  padding: 35px 60px 163px;

  background-color: #f7e296;
}

.header-logo {
  position: absolute;
  top: -25px;
  
  font-size: 48px;
  line-height: 48px;
  color: #000000;

  cursor: pointer;
}

.header-logo:hover,
.header-logo:focus {
  opacity: 0.6;
}

.header-logo:active {
  opacity: 0.3;
}

.header-top-line {
  display: flex;
  width: 100%;
  margin-bottom: 30px;
}

.search-form {
  margin-right: 100px;
}

.search-form input {
  box-sizing: border-box;
  width: 355px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 40px;

  font-family: "open sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: #000000;

  background-color: inherit;
  background-color: #f7e296;
  background-image: url("../img/search.svg");
  background-position: 4px 15px;
  background-repeat: no-repeat;
  border: 0;
  outline: none;
}

.search-form input::placeholder {
  font-family: "open sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: #000000;

  opacity: 0.3;
}

.search-form input:hover::placeholder {
  opacity: 0.6;
}

.search-form input:focus {
  border-bottom: 2px solid #000000;
}

.search-form button {
  visibility: hidden;

  box-sizing: border-box;
  padding: 7px 19px;
  margin-left: -4px;

  font-family: "open sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: #000000;

  background-color: inherit;
  background-color: #f7e296;
  border: 2px solid #000000;
  outline: none;
}

.search-form input:focus + button {
  visibility: visible;
}

.search-form button:hover,
.search-form button:focus {
  visibility: visible;

  color: #ffffff;

  background-color: #000000;
}

.search-form button:active {
  color: rgba(255, 255, 255, 0.3);
}

.header-top-line .login-link {
  box-sizing: border-box;
  margin-right: 220px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 27px;

  font-family: "open sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: #000000;

  background-image: url("../img/user.svg");
  background-position: 0 17px;
  background-repeat: no-repeat;
}

.header-top-line .compare-link {
  box-sizing: border-box;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 20px;

  font-family: "open sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: #000000;

  background-image: url("../img/compare.svg");
  background-position: 0 17px;
  background-repeat: no-repeat;
}

.header-top-line .cart-link {
  box-sizing: border-box;
  margin-left: auto;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 24px;

  font-family: "open sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: #000000;

  background-image: url("../img/cart.svg");
  background-position: 0 17px;
  background-repeat: no-repeat;
}

.header-top-line .login-link:hover,
.header-top-line .compare-link:hover,
.header-top-line .cart-link:hover,
.header-top-line .login-link:focus,
.header-top-line .compare-link:focus,
.header-top-line .cart-link:focus {
  opacity: 0.6;
}

.header-top-line .login-link:active,
.header-top-line .compare-link:active,
.header-top-line .cart-link:active {
  opacity: 0.3;
}

.main-navigation ul {
  padding: 0;
  margin: 0;

  list-style-type: none;
}

.site-navigation {
  position: relative;

  display: flex;
}

.site-navigation-item > a {
  position: relative;

  display: block;
  width: 100%;
  height: 100%;

  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
  letter-spacing: 0.2em;
}

.site-navigation .site-navigation-item:first-child {
  padding-right: 31px;
  margin-right: 291px;  
}

.site-navigation-item:first-child > a::after {
  content: "";

  position: absolute;
  right: -31px;
  top: 3px;

  width: 16px;
  height: 16px;

  background-image: url("../img/plus.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: 0.3;
}


.site-navigation-item:nth-child(2) {
  margin-right: 35px;
}

.site-navigation-item:last-child {
  margin-left: auto;
}

.site-navigation-item > a:hover,
.site-navigation-item > a:focus {
  opacity: 0.6;
}

.site-navigation-item > a:active {
  opacity: 0.3;
}

.site-navigation-item .catalog-navigation-list {
  position: absolute;
  
  left: -60px;
  right: -60px;
  top: 24px;
  z-index: 2;

  visibility: hidden;

  box-sizing: border-box;
  display: flex;
  padding-top: 16px;
  padding-left: 60px;
  height: 163px;

  background-color: #f7e296;
}

.site-navigation-item:first-child:hover .catalog-navigation-list,
.site-navigation-item:first-child:focus .catalog-navigation-list,
.site-navigation-item:first-child > a:focus + .catalog-navigation-list,
.catalog-navigation-list:hover {
  visibility: visible;
}

.catalog-navigation-list a {
  font-family: "open sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 36px;
  color: #000000;
}

.catalog-navigation-list a:hover,
.catalog-navigation-list a:focus {
  opacity: 0.6;
}

.catalog-navigation-list a:active {
  opacity: 0.3;
}

.catalog-navigation-list .column-first {
  width: 200px;
  margin-right: 40px;
}

.catalog-navigation-list .column-second {
  width: 160px;
  margin-right: 40px;
}

.catalog-navigation-list .column-third {
  flex: 1;
}

.promo-slider {
  position: relative;
  margin-top: -125px;
  margin-bottom: 110px;
  padding-right: 60px;
}

.promo-slider-item {
  display: flex;
}

.column-left {
  position: relative;

  display: flex;
  align-items: center;
  margin-right: 40px;
  width: 560px;
}

.promo-slider-image {
  display: block;
  margin: 0 auto;
  vertical-align: middle;
}

.column-right {
  position: relative;

  width: 500px;
}

.promo-slider-item .column-right::before {
  content: "";

  position: absolute;
  top: 49px;
  left: 0;

  width: 100px;
  height: 7px;

  background-color: #ffffff;
}

.promo-slider-number {
  font-size: 179.2px;
  line-height: 179.2px;
  color: #ffffff;
  text-align: right;
}

.promo-slider p span {
  display: block;
  margin-bottom: 19px;

  font-family: "gilroy", Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 56px;
}

.promo-slider p {
  margin: 0;
  margin-bottom: 43px;
  margin-top: -87px;

  font-family: "open sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
}

.wrapper {
  display: flex;
  align-items: baseline;
  margin-bottom: 49px;
}

.promo-slider .button {
  padding-right: 44px;
  padding-left: 44px;
  margin-right: 179px;
}

.slider-buttons {
  display: flex;
  justify-content: space-between;
  width: 78px;
}

.slider-button {
  display: block;
  width: 12px;
  height: 12px;

  background-image: url("../img/slider-button-empty.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.slider-button.active {
  background-image: url("../img/slider-button.svg");
}

.promo-slider tr td {
  width: 160px;
  padding: 0;
  padding-bottom: 7px;

  font-size: 36px;
  line-height: 48px;
  font-weight: 300;
}

.promo-slider tr td:nth-child(2) {
  width: 140px;
}

.promo-slider tr th {
  padding: 0;

  font-family: "open sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  text-align: left;
}

.promo-slider-item.second,
.promo-slider-item.third {
  position: absolute;
  top: 0;
}

.promo-slider-item.first {
  visibility: visible;
}

.promo-slider-item.second {
  visibility: hidden;
}

.promo-slider-item.third {
  visibility: hidden;
}

.popular {
  margin-bottom: 140px;
}

.popular-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 80px;
  padding: 0;

  list-style: none;
}

.popular-list a {
  display: flex;
  flex-flow: column;
  width: 160px;

  font-size: 18px;
  line-height: 24px;
  color: #000000;

  outline: none;
}

.popular-list a:hover > div,
.popular-list a:focus > div {
  background-color: #f0c52e;
}

.popular-list a:active span {
  opacity: 0.3;
}

.popular-item-image {
  margin-bottom: 36px;
  width: 160px;
  height: 160px;

  background-color: #f7e296;
  background-position: center center;
  background-repeat: no-repeat;
}

.popular-item-image.one {
  background-image: url("../img/popular-1.svg");
}

.popular-list a:active .popular-item-image.one {
  background-image: url("../img/popular-1-focus.svg");
}

.popular-item-image.two {
  background-image: url("../img/popular-2.svg");
  background-position: center bottom;
}

.popular-list a:active .popular-item-image.two {
  background-image: url("../img/popular-2-focus.svg");
}

.popular-item-image.three {
  background-image: url("../img/popular-3.svg");
}

.popular-list a:active .popular-item-image.three {
  background-image: url("../img/popular-3-focus.svg");
}

.popular-item-image.four {
  background-image: url("../img/popular-4.svg");
}

.popular-list a:active .popular-item-image.four {
  background-image: url("../img/popular-4-focus.svg");
}

.popular-item-image.five {
  background-image: url("../img/popular-5.svg");
}

.popular-list a:active .popular-item-image.five {
  background-image: url("../img/popular-5-focus.svg");
}

.popular-item-image.six {
  background-image: url("../img/popular-6.svg");
}

.popular-list a:active .popular-item-image.six {
  background-image: url("../img/popular-6-focus.svg");
}

.services {
  position: relative;

  padding-bottom: 115px;
  margin-bottom: 93px;
  
  background-image: linear-gradient(to bottom, #ffffff 40px, #e5e5e5 40px);
  background-color: #e5e5e5;
}

.services .container {
  display: flex;
}

.services-list {
  position: relative;

  margin: 0;
  margin-right: 123px;
  padding: 0;
  padding-top: 20px;

  list-style: none;
}

.services-list::after {
  content: "";

  position: absolute;
  top: -60px;
  right: -3px;

  width: 7px;
  height: 320px;

  background-color: #000000;
}

.services-item-title {
  margin-bottom: 24px;
  width: 280px;
}

.services-item-title a {
  display: block;
  width: 160px;

  outline: none;
}

.services-item-title.active {
  background-color: #000000;
}

.services-item-title:focus-within {
  background-color: #000000;
}

.services-item-title.active a,
.services-item-title a:focus {
  color: #f7e184;

  background-color: #000000;
  background-image: none;
}

.services-items {
  position: relative;
}

.services-items h3 {
  margin: 0;
  margin-bottom: 33px;
  margin-top: -9px;
  padding-top: 20px;

  font-size: 47px;
  line-height: 48px;
}

.services-items p {
  margin: 0;
  padding: 0;
  padding-right: 320px;

  font-family: "open sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
}

.services-item-block.delivery {
  background-image: url("../img/delivery.svg");
  background-repeat: no-repeat;
  background-position: 555px 33px;
}

.services-item-block.guarantee {
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  background-image: url("../img/warranty.svg");
  background-repeat: no-repeat;
  background-position: 540px 0;
}

.services-item-block.credit {
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  background-image: url("../img/credit.svg");
  background-repeat: no-repeat;
  background-position: 533px 2px;
}

.brands {
  margin-bottom: 90px;
}

.brands-list {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;

  list-style: none;
}

.brands-item img {
  filter: grayscale(100%);
  opacity: 0.2;
}

.brands-item a:hover img,
.brands-item a:focus img {
  filter: none;
  opacity: 1;
}

.about-contacts-wrapper {
  display: flex;
  justify-content: space-between;
}

.about-contacts-wrapper section {
  position: relative;

  padding-top: 53px;
  padding-bottom: 80px;
  width: 560px;
}

.about-contacts-wrapper section::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 80px;
  height: 7px;

  background-color: #000000;
}

.about-contacts-wrapper h2 {
  margin: 0;
  margin-bottom: 43px;

  font-size: 47px;
  line-height: 48px;
}

.about-contacts-wrapper p {
  margin: 0;
  margin-bottom: 30px;

  font-family: "open sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
}

.carrier-list {
  padding: 0;
  padding-left: 35px;
  padding-top: 36px;
  margin: 0;
  margin-bottom: 56px;

  list-style: none;
}

.carrier-list li {
  position: relative;

  font-size: 16px;
  line-height: 40px;
}

.carrier-list li::before {
  content: "";

  position: absolute;
  top: 15px;
  left: -35px;

  box-sizing: border-box;
  width: 8px;
  height: 8px;

  border: 2px solid #e5e5e5;
  border-radius: 50%;
}

.about-contacts-wrapper .button {
  width: 260px;
}

.about p {
  padding-right: 85px;
}

.contacts p {
  margin-bottom: 38px;
}

.contacts .map {
  display: block;
  margin-bottom: 67px;
}

.main-footer {
  padding-top: 55px;
  padding-bottom: 65px;

  color: #ffffff;

  background-color: #464646;
}

.footer-top-line {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.footer-logo {
  margin-right: 671px;

  font-size: 48px;
  color: #ffc600;
}

.footer-logo:hover,
.footer-logo:focus {
  opacity: 0.6; 
}

.footer-logo:active {
  opacity: 0.3;
}

.footer-top-line .login-link,
.footer-top-line .compare-link,
.footer-top-line .cart-link {
  position: relative;

  font-family: "open sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 36px;
  color: #ffffff;

  background-image: none;
  opacity: 0.7;
}

.footer-top-line svg {
  position: absolute;
  top: 12px;
  left: 0;
}

.footer-top-line .login-link {
  padding-left: 27px;
  margin-right: 44px;  
}

.footer-top-line .compare-link {
  padding-left: 20px;  
}

.footer-top-line .compare-link svg {
  top: 13px;
}

.footer-top-line .cart-link {
  padding-left: 24px; 
  margin-left: auto; 
}

.footer-top-line .login-link:hover svg,
.footer-top-line .login-link:focus svg,
.footer-top-line .compare-link:hover svg,
.footer-top-line .compare-link:focus svg,
.footer-top-line .cart-link:hover svg,
.footer-top-line .cart-link:focus svg {
  opacity: 0.6;
}

.footer-top-line .login-link:hover,
.footer-top-line .login-link:focus,
.footer-top-line .compare-link:hover,
.footer-top-line .compare-link:focus,
.footer-top-line .cart-link:hover,
.footer-top-line .cart-link:focus {
  opacity: 1;
}

.footer-top-line .login-link:active,
.footer-top-line .compare-link:active,
.footer-top-line .cart-link:active {
  opacity: 0.3;
}

.footer-middle-line {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}

.footer-middle-line span {
  font-family: "open sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: #ffffff;
}

.footer-middle-line span:first-child {
  margin-right: 165px;
}

.footer-middle-line span:last-child {
  margin-left: auto;
}

.footer-site-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 425px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-site-navigation-item a {
  display: block;

  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  color: #ffffff;
  text-transform: uppercase;
}

.footer-site-navigation-item a:hover,
.footer-site-navigation-item a:focus {
  opacity: 0.6;
}

.footer-site-navigation-item a:active {
  opacity: 0.3;
}

.footer-bottom-line {
  position: relative;

  display: flex;
  justify-content: flex-end;
}

.footer-bottom-line::before {
  content: "";

  position: absolute;
  left: 0;
  top: 14px;

  width: 80px;
  height: 7px;

  background-color: #ffc600;
}

.soc-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 141px;

  list-style: none;
}

.soc-list li a {
  display: block;
  width: 32px;
  height: 32px;

  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.soc-list li a:hover,
.soc-list li a:focus {
  opacity: 0.6;
}

.soc-list li a:active {
  opacity: 0.1;
}

.soc-list .facebook a {
  background-image: url("../img/fb.svg");
}

.soc-list .instagram a {
  background-image: url("../img/instagram.svg");
}

.soc-list .twitter a {
  background-image: url("../img/twitter.svg");
}

.footer-bottom-line .support {
  display: block;
  margin-left: 483px;
  width: 27px;
  height: 35px;

  background-image: url("../img/logo-html.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.footer-bottom-line .support:hover,
.footer-bottom-line .support:focus {
  opacity: 0.6;
}

.footer-bottom-line .support:active {
  opacity: 0.3;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: none; /* видимое состояние - display: flex; */
  justify-content: center;
  align-items: center;

  background-color: rgba(2, 1, 1, 0)
}


.modal {
  position: relative;

  color: #000000;

  background-color: #ffffff;
}

.modal-write-us {
  box-sizing: border-box;
  padding: 95px 100px 78px;
  width: 960px;

  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
}

.modal-write-us form {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

.modal-write-us form p {
  display: flex;
  flex-direction: column;
  width: 360px;
  margin: 0;
  margin-bottom: 35px;
}

.modal-write-us form p:nth-child(3) {
  margin-bottom: 40px;
  width: 760px;
}

.modal-write-us label {
  margin-bottom: 7px;

  font-size: 18px;
  line-height: 24px;
}

.modal-write-us textarea {
  min-height: 156px;
}

.modal-write-us input,
.modal-write-us textarea {
  display: block;
  box-sizing: border-box;
  padding-top: 16px;
  padding-left: 21px;
  padding-right: 21px;

  font-family: "open sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #464646;

  border:none;
  background-color: #f2f2f2;
  outline: none;
  resize: none;
}

.modal-write-us input {
  padding-bottom: 16px;
}


.modal-write-us input::placeholder,
.modal-write-us textarea::placeholder {
  font-family: "open sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #adadad;
}

.modal-write-us input:hover,
.modal-write-us textarea:hover {
  background-color: #ebebeb;
}

.modal-write-us input:focus,
.modal-write-us textarea:focus {
  background-color: #ffffff;
  border: 3px solid #f7e296;
}

.modal-write-us input:focus {
  padding-top: 14.6px;
  padding-bottom: 14.6px;
}


.modal-write-us button.button {
  padding: 8px 0;
  width: 200px;

  font-weight: 800;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal-write-us button.button:hover,
.modal-write-us button.button:focus {
  background-color: #f0c52e;
  background-image: none;
  outline: none;
}

.modal-write-us button.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.modal-close {
  position: absolute;
  top: 22px;
  right: 22px;

  padding: 0;
  width: 55px;
  height: 55px;

  font-size: 0;

  background-color: #f0c52e;
  opacity: 0.5;
  border: none;
  outline: none;
  border-radius: 50%;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 26px;
  left: 12.5px;

  width: 30px;
  height: 3px;

  background-color: #ffffff;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal-close:hover,
.modal-close:focus {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.3;
}

.modal-map {
  width: 960px;
  height: 559px;
}

.login-link.user-link {
  margin-right: 20px;
}

.logout-link {
  box-sizing: border-box;
  margin-right: 65px;
  padding-top: 7px;
  padding-bottom: 7px;

  font-family: "open sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: #000000;
  opacity: 0.3;
}

.main-header.inner-page {
  padding-bottom: 47px;
  margin-bottom: 38px;
}

.page-title {
  margin: 0;
  margin-left: 60px;
  margin-bottom: 24px;

  font-size: 47px;
  line-height: 48px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  margin-left: 60px;
  margin-bottom: 45px;
  padding: 0;

  list-style: none;
}

.breadcrumbs a {
  position: relative;

  display: block;

  font-family: "open sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:not([class="breadcrumb-current"]) {
  margin-right: 40px;
}

.breadcrumbs a:not([class="breadcrumb-current"]):hover,
.breadcrumbs a:not([class="breadcrumb-current"]):focus {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:not([class="breadcrumb-current"]):active {
  color: rgba(0, 0, 0, 0.1);
}

.breadcrumbs a:not([class="breadcrumb-current"])::after {
  content: "";

  position: absolute;
  top: 9px;
  right: -22px;
  
  width: 4px;
  height: 7px;

  background-image: url("../img/nav-arrow.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.content-wrapper {
  background-image: linear-gradient(to right, #eeeeee 50%, #ffffff 50%);
}

.filters {
  display: flex;
  flex-flow: column;
  
  background-color: #eeeeee;
  background-image: linear-gradient(to right, #eeeeee 50%, #ffffff 50%);
}

.title-wrapper {
  background-image: linear-gradient(to right, #dcdcdc 50%, #ebebeb 50%);
}

.title-sorting-layout {
  display: flex;
  justify-content: center;
}

.filters-title {
  box-sizing: border-box;
  margin: 0;
  padding-top: 23px;
  padding-bottom: 23px;
  padding-left: 60px;
  width: 328px;

  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.filters form.filter {
  box-sizing: border-box;
  width: 328px;
  padding-left: 60px;
  padding-right: 68px;
  padding-top: 69px;
} 

.filters fieldset {
  position: relative;

  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  border: none;
}

.filters legend {
  box-sizing: border-box;
  width: 100%;
  padding-top: 12px;
  margin-bottom: 18px;

  font-size: 18px;
  line-height: 24px;

  border-top: 2px solid #000000;
}

.filters .price-filter {
  margin-bottom: 34px;
}

.filters .price-filter legend {
  margin-bottom: 33px;
}

.filters .price-range {
  margin-bottom: 9px;
  width: 200px;
  height: 2px;

  background-color: #91c92f;
  background-image: linear-gradient(to right, #91c92f 117px, #dbdbdb 117px);
}

.price-min,
.price-max {
  position: absolute;
  top: 62px;

  width: 20px;
  height: 22px;

  background-image: url("../img/filter-button.svg");
  cursor: pointer;
}

.price-min {
  left: -5px;
}

.price-max {
  left: 108px;
}

.price-filter span {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  opacity: 0.2;
}

.price-filter span + span {
  margin-left: 60px;
}

.color-filter label {
  position: relative;

  display: block;
  padding-left: 41px;

  font-family: "open sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 40px;
}

.color-filter label::before {
  content: "";

  position: absolute;
  top: 9px;
  left: 0;

  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.color-filter input[type="checkbox"]:checked + label::before {
  width: 26px;
  background-image: url("../img/checkbox-on.svg");
}

.color-filter label:hover::before,
.color-filter label:focus::before {
  opacity: 0.6;
}

.color-filter input[type="checkbox"]:disabled + label::before {
  opacity: 0.25;
}

.color-filter input[type="checkbox"]:disabled + label {
  color: #a6a6a6;
}

.bluetooth-filter label {
  position: relative;

  display: block;
  padding-left: 41px;

  font-family: "open sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 40px;
}

.bluetooth-filter label::before {
  content: "";

  position: absolute;
  top: 8px;
  left: 0;

  width: 25px;
  height: 25px;
  background-image: url("../img/radio-off.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.bluetooth-filter input[type="radio"]:checked + label::before {
  background-image: url("../img/radio-on.svg");
}

.bluetooth-filter label:hover::before,
.bluetooth-filter label:focus::before {
  opacity: 0.6;
}

.bluetooth-filter input[type="checkbox"]:disabled + label::before {
  opacity: 0.25;
}

.bluetooth-filter input[type="checkbox"]:disabled + label {
  color: #a6a6a6;
}

.filter button.button {
  padding: 8px 0;
  width: 200px;

  font-weight: 800;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.filter button.button:hover,
.filter button.button:focus {
  background-color: #f0c52e;
  background-image: none;
  outline: none;
}

.filter button.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.sorting-wrapper {
  display: flex;
  align-items: center;
  padding-top: 23px;
  padding-bottom: 23px;
  padding-left: 72px;
  width: 760px;

  background-color: #ebebeb;
}

.sorting-wrapper h2 {
  margin: 0;
  margin-right: 55px;

  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.sorting-list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.sorting-type + li {
  margin-left: 30px;
}

.sorting-type a {
  display: block;

  font-family: "open sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
}

.sorting-type.active a {
  color: #000000;
}

.sorting-type:not(.active):hover a,
.sorting-type:not(.active):focus a {
  color: rgba(0, 0, 0, 0.6);
}

.sorting-type:not(.active):active a {
  color: rgba(0, 0, 0);
}

.sorting-order {
  display: flex;
  padding: 0;
  margin: 0;
  margin-left: auto;

  list-style-type: none;
}

.sorting-order a {
  position: relative;
}

.sorting-order .up-sorting::before,
.sorting-order .down-sorting::before {
  content: "";

  position: absolute;
  top: -3px;

  height: 10px;
  width: 11px;
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.2;
}

.sorting-order .up-sorting::before {
  left: -40px;

  background-image: url("../img/icon-up-dir.svg");
}

.sorting-order .down-sorting::before {
  left: -10px;

  background-image: url("../img/icon-down-dir.svg");
}

.sorting-order a.active::before {
  opacity: 1;
}

.sorting-order a:not(.active):hover::before,
.sorting-order a:not(.active):focus::before {
  opacity: 0.4;
}

.sorting-order a:not(.active):active::before {
  opacity: 1;
}

.form-catalog-layout {
  display: flex;
}

.catalog-list {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-top: 69px;
  padding-left: 32px;
  width: 832px;

  background-color: #ffffff;
  list-style-type: none;
}

.catalog-item {
  position: relative;
  margin-left: 40px;
  margin-bottom: 44px;
}

.catalog-item.new .image-block::before {
  content: 'New';

  position: absolute;
  top: 29px;
  right: 27px;

  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 16px 14px;

  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.2);

  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.catalog-item .image-block {
  position: relative;

  margin-bottom: 34px;
  width: 360px;
  height: 380px;

  background-color: #eeeeee;
}

.image-block .button {
  visibility: hidden;

  position: absolute;
  top: 170px;
  left: 80px;

  width: 200px;
}

.image-block .compare-add {
  visibility: hidden;

  position: absolute;
  top: 216px;
  left: 109px;

  font-family: "open sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 36px;
  color: rgba(0, 0, 0, 0.5);
}

.image-block .compare-add:hover,
.image-block .compare-add:focus {
  color: rgb(0, 0, 0);
}

.image-block .compare-add:active {
  color: rgba(0, 0, 0, 0.2);
}

.image-block:hover img {
  opacity: 0.3;
}

.image-block:hover .button,
.image-block:hover .compare-add {
  visibility: visible;
}

.title-price-layout {
  display: flex;
  justify-content: space-between;
}

.title-price-layout .catalog-item-title {
  width: 260px;

  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.title-price-layout span {
  width: 100px;

  text-align: right;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #464646;
}

.pagination-wrapper {
  box-sizing: border-box;
  padding-left: 72px;
  padding-bottom: 77px;
  width: 832px;

  background-color: #ffffff;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;

  background-color: #ebebeb;
  list-style-type: none;
}

.pagination a {
  display: block;
  padding-bottom: 22px;
  padding-top: 22px;

  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.pagination .prev-link,
.pagination .next-link {
  padding-right: 30px;
  padding-left: 30px;
}

.pagination .page-link {
  padding-right: 10px;
  padding-left: 10px;
}

.pagination .prev-link:hover,
.pagination .next-link:hover,
.pagination .prev-link:focus,
.pagination .next-link:focus {
  background-color: #d9d9d9;
}

.pagination .prev-link:active,
.pagination .next-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.pagination .prev-link,
.pagination .next-link,
.pagination .page-link.active,
.pagination a.page-link:hover,
.pagination a.page-link:focus {
  color: #000000;
}

.pagination a.page-link:active {
  color: rgba(0, 0, 0, 0.2);
}

.pagination .prev-link {
  margin-right: 201px;
}

.pagination .page-link-item {
  margin-right: 12px;
}

.pagination .next-link-item {
  margin-left: auto;
}

.inner-page .footer-logo {
  margin-right: 519px;
}

.main-footer .logout-link {
  margin-right: 44px;

  color: rgba(255, 255, 255, 0.3);
  opacity: 1;
}

.main-footer .logout-link:hover,
.main-footer .logout-link:focus {
  color: rgb(255, 255, 255);
}

.main-footer .logout-link:active {
  color: rgba(255, 255, 255, 0.2);
}