@font-face {
  font-family: 'gilroy';
  src: url('../fonts/gilroy/gilroylight.woff2'),
       url('../fonts/gilroy/gilroylight.woff');
  font-weight: 300;
}

@font-face {
  font-family: 'gilroy';
  src: url('../fonts/gilroy/gilroyextrabold.woff2'),
       url('../fonts/gilroy/gilroyextrabold.woff');
  font-weight: 800;
}

@font-face {
  font-family: 'open sans';
  src: url('../fonts/open_sans/opensanslight.woff2'),
       url('../fonts/open_sans/opensanslight.woff');
  font-weight: 300;
}

@font-face {
  font-family: 'open sans';
  src: url('../fonts/open_sans/opensans.woff2'),
       url('../fonts/open_sans/opensans.woff');
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;

  font-family: "gilroy", Arial, Helvetica, sans-serif;
  font-weight: 800;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  padding-top: 8px;
  padding-bottom: 8px;
  box-sizing: border-box;

  font-size: 18px;
  line-height: 24px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #000000;
  letter-spacing: 0.2em;

  background-image: linear-gradient(to bottom, transparent 16px, #f4d361 16px,
                                              #f4d361 17px, #f0c52e 17px, 
                                              #f0c52e 23px, #f4d361 23px, 
                                              #f4d361 24px, transparent 24px, transparent 100%);
}

.button:hover,
.button:focus {
  background-color: #f0c52e;
  background-image: none;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.main-header {
  position: relative;

  margin-top: 40px;
  padding: 35px 60px 163px;

  background-color: #f7e296;
}

.header-logo {
  position: absolute;
  top: -25px;
  
  font-size: 48px;
  line-height: 48px;

  cursor: pointer;
}

.header-logo:hover,
.header-logo:focus {
  opacity: 0.6;
}

.header-logo:active {
  opacity: 0.3;
}

.header-top-line {
  display: flex;
  width: 100%;
  margin-bottom: 30px;
}

.search-form {
  margin-right: 100px;
}

.search-form input {
  box-sizing: border-box;
  width: 355px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 40px;

  font-family: "open sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: #000000;

  background-color: inherit;
  background-color: #f7e296;
  background-image: url("../img/search.svg");
  background-position: 4px 15px;
  background-repeat: no-repeat;
  border: 0;
  outline: none;
}

.search-form input::placeholder {
  font-family: "open sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: #000000;

  opacity: 0.3;
}

.search-form input:hover::placeholder {
  opacity: 0.6;
}

.search-form input:focus {
  border-bottom: 2px solid #000000;
}

.search-form button {
  visibility: hidden;

  box-sizing: border-box;
  padding: 7px 19px;
  margin-left: -4px;

  font-family: "open sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: #000000;

  background-color: inherit;
  background-color: #f7e296;
  border: 2px solid #000000;
  outline: none;
}

.search-form input:focus + button {
  visibility: visible;
}

.search-form button:hover,
.search-form button:focus {
  visibility: visible;

  color: #ffffff;

  background-color: #000000;
}

.search-form button:active {
  color: rgba(255, 255, 255, 0.3);
}

.header-top-line .login-link {
  box-sizing: border-box;
  margin-right: 220px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 27px;

  font-family: "open sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: #000000;

  background-image: url("../img/user.svg");
  background-position: 0 17px;
  background-repeat: no-repeat;
}

.header-top-line .compare-link {
  box-sizing: border-box;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 20px;

  font-family: "open sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: #000000;

  background-image: url("../img/compare.svg");
  background-position: 0 17px;
  background-repeat: no-repeat;
}

.header-top-line .cart-link {
  box-sizing: border-box;
  margin-left: auto;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 24px;

  font-family: "open sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: #000000;

  background-image: url("../img/cart.svg");
  background-position: 0 17px;
  background-repeat: no-repeat;
}

.header-top-line .login-link:hover,
.header-top-line .compare-link:hover,
.header-top-line .cart-link:hover,
.header-top-line .login-link:focus,
.header-top-line .compare-link:focus,
.header-top-line .cart-link:focus {
  opacity: 0.6;
}

.header-top-line .login-link:active,
.header-top-line .compare-link:active,
.header-top-line .cart-link:active {
  opacity: 0.3;
}

.main-navigation ul {
  padding: 0;
  margin: 0;

  list-style-type: none;
}

.site-navigation {
  position: relative;

  display: flex;
}

.site-navigation-item > a {
  position: relative;

  display: block;
  width: 100%;
  height: 100%;

  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
  letter-spacing: 0.2em;
}

.site-navigation .site-navigation-item:first-child {
  padding-right: 31px;
  margin-right: 291px;  
}

.site-navigation-item:first-child > a::after {
  content: "";

  position: absolute;
  right: -31px;
  top: 3px;

  width: 16px;
  height: 16px;

  background-image: url("../img/plus.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: 0.3;
}


.site-navigation-item:nth-child(2) {
  margin-right: 35px;
}

.site-navigation-item:last-child {
  margin-left: auto;
}

.site-navigation-item > a:hover,
.site-navigation-item > a:focus {
  opacity: 0.6;
}

.site-navigation-item > a:active {
  opacity: 0.3;
}

.site-navigation-item .catalog-navigation-list {
  position: absolute;
  
  left: -60px;
  right: -60px;
  top: 24px;
  z-index: 2;

  visibility: hidden;

  box-sizing: border-box;
  display: flex;
  padding-top: 16px;
  padding-left: 60px;
  height: 163px;

  background-color: #f7e296;
}

.site-navigation-item:first-child:hover .catalog-navigation-list,
.site-navigation-item:first-child:focus .catalog-navigation-list,
.site-navigation-item:first-child > a:focus + .catalog-navigation-list,
.catalog-navigation-list:hover {
  visibility: visible;
}

.catalog-navigation-list a {
  font-family: "open sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 36px;
  color: #000000;
}

.catalog-navigation-list a:hover,
.catalog-navigation-list a:focus {
  opacity: 0.6;
}

.catalog-navigation-list a:active {
  opacity: 0.3;
}

.catalog-navigation-list .column-first {
  width: 200px;
  margin-right: 40px;
}

.catalog-navigation-list .column-second {
  width: 160px;
  margin-right: 40px;
}

.catalog-navigation-list .column-third {
  flex: 1;
}

.promo-slider {
  position: relative;
  margin-top: -125px;
  margin-bottom: 110px;
  padding-right: 60px;
}

.promo-slider-item {
  display: flex;
}

.column-left {
  position: relative;

  display: flex;
  align-items: center;
  margin-right: 40px;
  width: 560px;
}

.promo-slider-image {
  display: block;
  margin: 0 auto;
  vertical-align: middle;
}

.column-right {
  position: relative;

  width: 500px;
}

.promo-slider-item .column-right::before {
  content: "";

  position: absolute;
  top: 49px;
  left: 0;

  width: 100px;
  height: 7px;

  background-color: #ffffff;
}

.promo-slider-number {
  font-size: 179.2px;
  line-height: 179.2px;
  color: #ffffff;
  text-align: right;
}

.promo-slider p span {
  display: block;
  margin-bottom: 19px;

  font-family: "gilroy", Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 56px;
}

.promo-slider p {
  margin: 0;
  margin-bottom: 43px;
  margin-top: -87px;

  font-family: "open sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
}

.wrapper {
  display: flex;
  align-items: baseline;
  margin-bottom: 49px;
}

.promo-slider .button {
  padding-right: 44px;
  padding-left: 44px;
  margin-right: 179px;
}

.slider-buttons {
  display: flex;
  justify-content: space-between;
  width: 78px;
}

.slider-button {
  display: block;
  width: 12px;
  height: 12px;

  background-image: url("../img/slider-button-empty.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.slider-button.active {
  background-image: url("../img/slider-button.svg");
}

.promo-slider tr td {
  width: 160px;
  padding: 0;
  padding-bottom: 7px;

  font-size: 36px;
  line-height: 48px;
  font-weight: 300;
}

.promo-slider tr td:nth-child(2) {
  width: 140px;
}

.promo-slider tr th {
  padding: 0;

  font-family: "open sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  text-align: left;
}

.promo-slider-item.second,
.promo-slider-item.third {
  position: absolute;
  top: 0;
}

.promo-slider-item.first {
  visibility: visible;
}

.promo-slider-item.second {
  visibility: hidden;
}

.promo-slider-item.third {
  visibility: hidden;
}

.popular {
  margin-bottom: 140px;
}

.popular-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 80px;
  padding: 0;

  list-style: none;
}

.popular-list a {
  display: flex;
  flex-flow: column;
  width: 160px;

  font-size: 18px;
  line-height: 24px;
  color: #000000;

  outline: none;
}

.popular-list a:hover > div,
.popular-list a:focus > div {
  background-color: #f0c52e;
}

.popular-list a:active span {
  opacity: 0.3;
}

.popular-item-image {
  margin-bottom: 36px;
  width: 160px;
  height: 160px;

  background-color: #f7e296;
  background-position: center center;
  background-repeat: no-repeat;
}

.popular-item-image.one {
  background-image: url("../img/popular-1.svg");
}

.popular-list a:active .popular-item-image.one {
  background-image: url("../img/popular-1-focus.svg");
}

.popular-item-image.two {
  background-image: url("../img/popular-2.svg");
  background-position: center bottom;
}

.popular-list a:active .popular-item-image.two {
  background-image: url("../img/popular-2-focus.svg");
}

.popular-item-image.three {
  background-image: url("../img/popular-3.svg");
}

.popular-list a:active .popular-item-image.three {
  background-image: url("../img/popular-3-focus.svg");
}

.popular-item-image.four {
  background-image: url("../img/popular-4.svg");
}

.popular-list a:active .popular-item-image.four {
  background-image: url("../img/popular-4-focus.svg");
}

.popular-item-image.five {
  background-image: url("../img/popular-5.svg");
}

.popular-list a:active .popular-item-image.five {
  background-image: url("../img/popular-5-focus.svg");
}

.popular-item-image.six {
  background-image: url("../img/popular-6.svg");
}

.popular-list a:active .popular-item-image.six {
  background-image: url("../img/popular-6-focus.svg");
}

.services {
  position: relative;

  padding-bottom: 115px;
  margin-bottom: 93px;
  
  background-image: linear-gradient(to bottom, #ffffff 40px, #e5e5e5 40px);
  background-color: #e5e5e5;
}

.services .container {
  display: flex;
}

.services-list {
  position: relative;

  margin: 0;
  margin-right: 123px;
  padding: 0;
  padding-top: 20px;

  list-style: none;
}

.services-list::after {
  content: "";

  position: absolute;
  top: -60px;
  right: -3px;

  width: 7px;
  height: 320px;

  background-color: #000000;
}

.services-item-title {
  margin-bottom: 24px;
  width: 280px;
}

.services-item-title a {
  display: block;
  width: 160px;

  outline: none;
}

.services-item-title.active {
  background-color: #000000;
}

.services-item-title:focus-within {
  background-color: #000000;
}

.services-item-title.active a,
.services-item-title a:focus {
  color: #f7e184;

  background-color: #000000;
  background-image: none;
}

.services-items {
  position: relative;
}

.services-items h3 {
  margin: 0;
  margin-bottom: 33px;
  margin-top: -9px;
  padding-top: 20px;

  font-size: 47px;
  line-height: 48px;
}

.services-items p {
  margin: 0;
  padding: 0;
  padding-right: 320px;

  font-family: "open sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
}

.services-item-block.delivery {
  background-image: url("../img/delivery.svg");
  background-repeat: no-repeat;
  background-position: 555px 33px;
}

.services-item-block.guarantee {
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  background-image: url("../img/warranty.svg");
  background-repeat: no-repeat;
  background-position: 540px 0;
}

.services-item-block.credit {
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  background-image: url("../img/credit.svg");
  background-repeat: no-repeat;
  background-position: 533px 2px;
}

.brands {
  margin-bottom: 90px;
}

.brands-list {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;

  list-style: none;
}

.brands-item img {
  filter: grayscale(100%);
  opacity: 0.2;
}

.brands-item a:hover img,
.brands-item a:focus img {
  filter: none;
  opacity: 1;
}

.about-contacts-wrapper {
  display: flex;
  justify-content: space-between;
}

.about-contacts-wrapper section {
  position: relative;

  padding-top: 53px;
  padding-bottom: 80px;
  width: 560px;
}

.about-contacts-wrapper section::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 80px;
  height: 7px;

  background-color: #000000;
}

.about-contacts-wrapper h2 {
  margin: 0;
  margin-bottom: 43px;

  font-size: 47px;
  line-height: 48px;
}

.about-contacts-wrapper p {
  margin: 0;
  margin-bottom: 30px;

  font-family: "open sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
}

.carrier-list {
  padding: 0;
  padding-left: 35px;
  padding-top: 36px;
  margin: 0;
  margin-bottom: 56px;

  list-style: none;
}

.carrier-list li {
  position: relative;

  font-size: 16px;
  line-height: 40px;
}

.carrier-list li::before {
  content: "";

  position: absolute;
  top: 15px;
  left: -35px;

  box-sizing: border-box;
  width: 8px;
  height: 8px;

  border: 2px solid #e5e5e5;
  border-radius: 50%;
}

.about-contacts-wrapper .button {
  width: 260px;
}

.about p {
  padding-right: 85px;
}

.contacts p {
  margin-bottom: 38px;
}

.contacts .map {
  display: block;
  margin-bottom: 67px;
}

.main-footer {
  padding-top: 55px;
  padding-bottom: 65px;

  color: #ffffff;

  background-color: #464646;
}

.footer-top-line {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.footer-logo {
  margin-right: 671px;

  font-size: 48px;
  color: #ffc600;
}

.footer-logo:hover,
.footer-logo:focus {
  opacity: 0.6; 
}

.footer-logo:active {
  opacity: 0.3;
}

.footer-top-line .login-link,
.footer-top-line .compare-link,
.footer-top-line .cart-link {
  position: relative;

  font-family: "open sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 36px;
  color: #ffffff;

  background-image: none;
  opacity: 0.7;
}

.footer-top-line svg {
  position: absolute;
  top: 12px;
  left: 0;
}

.footer-top-line .login-link {
  padding-left: 27px;
  margin-right: 44px;  
}

.footer-top-line .compare-link {
  padding-left: 20px;  
}

.footer-top-line .compare-link svg {
  top: 13px;
}

.footer-top-line .cart-link {
  padding-left: 24px; 
  margin-left: auto; 
}

.footer-top-line .login-link:hover svg,
.footer-top-line .login-link:focus svg,
.footer-top-line .compare-link:hover svg,
.footer-top-line .compare-link:focus svg,
.footer-top-line .cart-link:hover svg,
.footer-top-line .cart-link:focus svg {
  opacity: 0.6;
}

.footer-top-line .login-link:hover,
.footer-top-line .login-link:focus,
.footer-top-line .compare-link:hover,
.footer-top-line .compare-link:focus,
.footer-top-line .cart-link:hover,
.footer-top-line .cart-link:focus {
  opacity: 1;
}

.footer-top-line .login-link:active,
.footer-top-line .compare-link:active,
.footer-top-line .cart-link:active {
  opacity: 0.3;
}

.footer-middle-line {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}

.footer-middle-line span {
  font-family: "open sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: #ffffff;
}

.footer-middle-line span:first-child {
  margin-right: 165px;
}

.footer-middle-line span:last-child {
  margin-left: auto;
}

.footer-site-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 425px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-site-navigation-item a {
  display: block;

  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  color: #ffffff;
  text-transform: uppercase;
}

.footer-site-navigation-item a:hover,
.footer-site-navigation-item a:focus {
  opacity: 0.6;
}

.footer-site-navigation-item a:active {
  opacity: 0.3;
}

.footer-bottom-line {
  position: relative;

  display: flex;
  justify-content: flex-end;
}

.footer-bottom-line::before {
  content: "";

  position: absolute;
  left: 0;
  top: 14px;

  width: 80px;
  height: 7px;

  background-color: #ffc600;
}

.soc-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 141px;

  list-style: none;
}

.soc-list li a {
  display: block;
  width: 32px;
  height: 32px;

  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.soc-list li a:hover,
.soc-list li a:focus {
  opacity: 0.6;
}

.soc-list li a:active {
  opacity: 0.1;
}

.soc-list .facebook a {
  background-image: url("../img/fb.svg");
}

.soc-list .instagram a {
  background-image: url("../img/instagram.svg");
}

.soc-list .twitter a {
  background-image: url("../img/twitter.svg");
}

.footer-bottom-line .support {
  display: block;
  margin-left: 483px;
  width: 27px;
  height: 35px;

  background-image: url("../img/logo-html.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.footer-bottom-line .support:hover,
.footer-bottom-line .support:focus {
  opacity: 0.6;
}

.footer-bottom-line .support:active {
  opacity: 0.3;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(2, 1, 1, 0.6)
}

.modal {
  color: #000000;

  background-color: #ffffff;
}

.modal-write-us {
  padding: 95px 100px 78px;
  width: 960px;
}